<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/admin/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="/admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/admin/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/admin/images/fevicon/fevicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                <a class="sidebar-brand brand-logo" href="../../index.html"><img src="/admin/images/logo.svg"
                        alt="logo" /></a>
                <a class="sidebar-brand brand-logo-mini" href="../../index.html"><img src="/admin/images/logo-mini.svg"
                        alt="logo" /></a>
            </div>
            <ul class="nav">
                <li class="nav-item profile">
                    <div class="profile-desc">
                        <div class="profile-pic">
                            <div class="count-indicator">
                                <img class="img-xs rounded-circle " src="/admin/images/faces/face15.jpg" alt="">
                                <span class="count bg-success"></span>
                            </div>
                            <div class="profile-name">
                                <h5 class="mb-0 font-weight-normal">
                                    <%= user || 'Admin' %>
                                </h5>
                                <span>Gold Member</span>
                            </div>
                        </div>
                        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i
                                class="mdi mdi-dots-vertical"></i></a>
                        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
                            aria-labelledby="profile-dropdown">
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-primary"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-onepassword  text-info"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-calendar-today text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-category">
                    <span class="nav-link">Navigation</span>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/admin-dashboard">
                        <span class="menu-icon">
                            <i class="mdi mdi-speedometer"></i>
                        </span>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <% if (isSuperAdminAuthenticated) { %>
                    <li class="nav-item menu-items">
                        <a class="nav-link" href="/superadmin-admin-list">
                            <span class="menu-icon">
                                <i class="mdi mdi-account-key"></i>
                            </span>
                            <span class="menu-title">Admins</span>
                        </a>
                    </li>
                    <% } %>
                        <li class="nav-item menu-items">
                            <a class="nav-link" href="/admin-branches-list">
                                <span class="menu-icon">
                                    <i class="mdi mdi-domain"></i>
                                </span>
                                <span class="menu-title">Branches</span>
                            </a>
                        </li>
                        <li class="nav-item menu-items">
                            <a class="nav-link" href="/admin-package-list">
                                <span class="menu-icon">
                                    <i class="mdi mdi-package-variant-closed"></i>
                                </span>
                                <span class="menu-title">Package</span>
                            </a>
                        </li>
                        <li class="nav-item menu-items">
                            <a class="nav-link" href="/admin-trainers-list">
                                <span class="menu-icon">
                                    <i class="mdi mdi-run-fast"></i>
                                </span>
                                <span class="menu-title">Trainers</span>
                            </a>
                        </li>
                        <li class="nav-item menu-items">
                            <a class="nav-link" href="/admin-clients-list">
                                <span class="menu-icon">
                                    <i class="mdi mdi-account-group"></i>
                                </span>
                                <span class="menu-title">Clients</span>
                            </a>
                        </li>
                        <li class="nav-item menu-items">
                            <a class="nav-link" href="#">
                                <span class="menu-icon">
                                    <i class="mdi mdi-credit-card"></i>
                                </span>
                                <span class="menu-title">Payments</span>
                            </a>
                        </li>
                        <li class="nav-item menu-items">
                            <a class="nav-link" href="#">
                                <span class="menu-icon">
                                    <i class="mdi mdi-cash-multiple"></i>
                                </span>
                                <span class="menu-title">Salary</span>
                            </a>
                        </li>
                        <li class="nav-item menu-items">
                            <a class="nav-link" href="#">
                                <span class="menu-icon">
                                    <i class="mdi mdi-calendar-check"></i>
                                </span>
                                <span class="menu-title">Attendance</span>
                            </a>
                        </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_navbar.html -->
            <nav class="navbar p-0 fixed-top d-flex flex-row">
                <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="/admin/images/logo-mini.svg"
                            alt="logo" /></a>
                </div>
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                        data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <ul class="navbar-nav w-100">
                        <li class="nav-item w-100">
                            <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                                <input type="text" class="form-control" placeholder="Search products">
                            </form>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown d-none d-lg-block">
                            <!-- <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown"
                                data-toggle="dropdown" aria-expanded="false" href="#">+ Create New Project</a> -->
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                aria-labelledby="createbuttonDropdown">
                                <h6 class="p-3 mb-0">Projects</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-file-outline text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Software Development</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-web text-info"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">UI Development</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-layers text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Software Testing</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">See all projects</p>
                            </div>
                        </li>
                        <li class="nav-item nav-settings d-none d-lg-block">
                            <a class="nav-link" href="#">
                                <i class="mdi mdi-view-grid"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown border-left">
                            <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#"
                                data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-email"></i>
                                <span class="count bg-success"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                aria-labelledby="messageDropdown">
                                <h6 class="p-3 mb-0">Messages</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="/admin/images/faces/face4.jpg" alt="image"
                                            class="rounded-circle profile-pic">
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Mark send you a message</p>
                                        <p class="text-muted mb-0"> 1 Minutes ago </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="/admin/images/faces/face2.jpg" alt="image"
                                            class="rounded-circle profile-pic">
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Cregh send you a message</p>
                                        <p class="text-muted mb-0"> 15 Minutes ago </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="/admin/images/faces/face3.jpg" alt="image"
                                            class="rounded-circle profile-pic">
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Profile picture updated</p>
                                        <p class="text-muted mb-0"> 18 Minutes ago </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">4 new messages</p>
                            </div>
                        </li>
                        <li class="nav-item dropdown border-left">
                            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                                data-toggle="dropdown">
                                <i class="mdi mdi-bell"></i>
                                <span class="count bg-danger"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                aria-labelledby="notificationDropdown">
                                <h6 class="p-3 mb-0">Notifications</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-calendar text-success"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Event today</p>
                                        <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event
                                            today </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-settings text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Settings</p>
                                        <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-link-variant text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Launch Admin</p>
                                        <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">See all notifications</p>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                                <div class="navbar-profile">
                                    <img class="img-xs rounded-circle" src="/admin/images/faces/face15.jpg" alt="">
                                    <p class="mb-0 d-none d-sm-block navbar-profile-name">
                                        <%= user || 'Admin' %>
                                    </p>
                                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                aria-labelledby="profileDropdown">
                                <h6 class="p-3 mb-0">Profile</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-settings text-success"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Settings</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item" href="/admin/admin-logout">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-logout text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Log out</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">Advanced settings</p>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                        data-toggle="offcanvas">
                        <span class="mdi mdi-format-line-spacing"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title"> Clients List </h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"> GYM </a></li>
                                <li class="breadcrumb-item active" aria-current="page">Clients List</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="mt-3 mb-3 d-flex justify-content-between">
                        <a href="/admin-add-clients"><button type="button" class="btn btn-primary btn-md">
                                <i class="mdi mdi-account"></i> Add Clients </button></a>
                        <a href="/admin-"><button type="button" class="btn btn-primary btn-md">
                                <i class="mdi mdi-account"></i> Not Active Clients </button></a>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <!-- Search Box -->
                            <div class="mb-3 d-flex" style="gap: 1rem;">
                                <input type="text" id="searchBox" class="form-control w-75"
                                    placeholder="Search client (name, email, phone...)">
                                <select id="branchFilter" class="form-control w-25">
                                    <option value="">-- Select Branch --</option>
                                </select>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Branch</th>
                                            <th>Trainer</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody id="clientsTableBody">
                                        <!-- Data inserted dynamically -->
                                    </tbody>
                                </table>


                            </div>
                        </div>

                    </div>
                    <!-- Pagination -->
                    <nav class="d-flex justify-content-center mt-3">
                        <ul class="pagination" id="pagination">
                            <!-- Pagination buttons will be added dynamically -->
                        </ul>
                    </nav>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <!-- <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div> -->
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/admin/vendors/select2/select2.min.js"></script>
    <script src="/admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/admin/js/off-canvas.js"></script>
    <script src="/admin/js/hoverable-collapse.js"></script>
    <script src="/admin/js/misc.js"></script>
    <script src="/admin/js/settings.js"></script>
    <script src="/admin/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/admin/js/file-upload.js"></script>
    <script src="/admin/js/typeahead.js"></script>
    <script src="/admin/js/select2.js"></script>
    <!-- End custom js for this page -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        let currentPage = 1;

        function loadClients(page = 1, query = "", branchId = "") {
            $.ajax({
                url: "/admin/clients-list",
                type: "GET",
                data: { page: page, search: query, branchId: branchId },
                success: function (res) {
                    let rows = "";

                    if (!res.clients || res.clients.length === 0) {
                        rows = `<tr><td colspan="7" class="text-center">No Clients found.</td></tr>`;
                    } else {
                        res.clients.forEach(client => {
                            rows += `
                    <tr class="text-white">
                        <td>${client.name}</td>
                        <td>${client.email}</td>
                        <td>${client.phone}</td>
                        <td>${client.branch || "-"}</td>
                        <td>${client.trainer || "-"}</td>
                        <td>
                            <button class="btn btn-outline-secondary btn-icon-text">
                                Edit <i class="mdi mdi-file-check btn-icon-append"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger btn-icon-text">
                                <i class="mdi mdi-bucket btn-icon-prepend"></i> Delete
                            </button>
                        </td>
                    </tr>`;
                        });
                    }

                    $("#clientsTableBody").html(rows);

                    // Pagination
                    let paginationHtml = "";
                    for (let i = 1; i <= res.totalPages; i++) {
                        paginationHtml += `
                <li class="page-item ${i === res.currentPage ? "active" : ""}">
                    <a class="page-link" href="javascript:void(0)" onclick="changePage(${i})">${i}</a>
                </li>`;
                    }
                    $("#pagination").html(paginationHtml);
                },
                error: function () {
                    $("#clientsTableBody").html(`<tr><td colspan="7" class="text-center text-danger">Error loading clients.</td></tr>`);
                }
            });
        }

        function changePage(page) {
            currentPage = page;
            const query = $("#searchBox").val();
            const branchId = $("#branchFilter").val();
            loadClients(currentPage, query, branchId);
        }

        $(document).ready(function () {
            // Load branches for dropdown
            $.ajax({
                url: "/admin/get-branches-name",
                type: "GET",
                success: function (branches) {
                    branches.branches.forEach(branch => {
                        $("#branchFilter").append(`<option value="${branch._id}">${branch.name}</option>`);
                    });
                }
            });

            // Load clients initially
            loadClients();

            // Live Search
            $("#searchBox").on("keyup", function () {
                const query = $(this).val();
                const branchId = $("#branchFilter").val();
                loadClients(1, query, branchId);
            });

            // Branch filter
            $("#branchFilter").on("change", function () {
                const branchId = $(this).val();
                const query = $("#searchBox").val();
                loadClients(1, query, branchId);
            });
        });

    </script>
    <!-- <script>
        let currentPage = 1;

        function loadClients(page = 1, query = "") {
            $.ajax({
                url: "/admin/clients-list",   // backend route
                type: "GET",
                data: { page: page, search: query },
                success: function (res) {
                    let rows = "";

                    if (!res.clients || res.clients.length === 0) {
                        rows = `<tr><td colspan="7" class="text-center">No Clients found.</td></tr>`;
                    } else {
                        res.clients.forEach(client => {
                            rows += `
                            <tr>
                                <td>${client.name}</td>
                                <td>${client.email}</td>
                                <td>${client.phone}</td>
                                <td>${client.branch || "-"}</td>
                                <td>${client.trainer || "-"}</td>
                                <td>
                                    <button class="btn btn-outline-secondary btn-icon-text">
                                        Edit <i class="mdi mdi-file-check btn-icon-append"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-outline-danger btn-icon-text">
                                        <i class="mdi mdi-bucket btn-icon-prepend"></i> Delete
                                    </button>
                                </td>
                            </tr>`;
                        });
                    }

                    $("#clientsTableBody").html(rows);

                    // Pagination
                    let paginationHtml = "";
                    for (let i = 1; i <= res.totalPages; i++) {
                        paginationHtml += `
                        <li class="page-item ${i === res.currentPage ? "active" : ""}">
                            <a class="page-link" href="javascript:void(0)" onclick="changePage(${i})">${i}</a>
                        </li>`;
                    }
                    $("#pagination").html(paginationHtml);
                },
                error: function () {
                    $("#clientsTableBody").html(`<tr><td colspan="7" class="text-center text-danger">Error loading clients.</td></tr>`);
                }
            });
        }

        function changePage(page) {
            currentPage = page;
            const query = $("#searchBox").val();
            loadClients(currentPage, query);
        }

        $(document).ready(function () {
            loadClients();

            // Live Search
            $("#searchBox").on("keyup", function () {
                const query = $(this).val();
                loadClients(1, query); // reset to page 1 on search
            });
        });
    </script> -->
</body>

</html>